{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2"
  ],
  "comments": false,
  "compact": false,
  "plugins": [["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }
  ]]]
}
